token.txt
#grafana
docker/monitoring/grafana/grafana-data/*

#lxc container ubuntujammy
lxc/container/ubuntujammy/ubuntujammy
lxc/container/ubuntujammy/mount

#winbox4
gns3/winbox4/winbox4
##winbox4-sessionfile
gns3/winbox4/winbox4-session/session-file/

#gns3/
gns3/


#zerotier-mikrotik
network-labs/Tunneling/Zerotier/docker/zerotier-router1/zerotier/
network-labs/Tunneling/Zerotier/docker/zerotier-router2/zerotier

#linux-hotspot
linux/hotspot/linux-wifi-hotspot/

# interkoneksi-4provinsi-gre
network-labs/random-networks/interkoneksi-4provinsi-gre/router-logs/logs/*

#librenms-database
network-labs/random-networks/network-project/monitoring/librenms/docker-master/examples/compose/db/

#netmiko
network-labs/random-networks/network-project2/netmiko/.env*
