token.txt


#grafana
docker/monitoring/grafana/grafana-data/*

#lxc container ubuntujammy
lxc/container/ubuntujammy/ubuntujammy
lxc/container/ubuntujammy/mount

#winbox4
gns3/winbox4/winbox4
##winbox4-sessionfile
gns3/winbox4/winbox4-session/session-file/
